.Form-Container{
    margin: 0 auto;
   max-width: 400px;
    margin-bottom: 20px;
   form{
    width: auto;
    .div-input{
        
        text-align: center;
        display: flex;
        justify-content: center;
        input{
         width: 300px;
        }
     }
     .btn-Add{
        width: 50px;
        text-align: center;
     }
   }
}